@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Open+Sans&display=swap');

body {
  background: #ffccd3;
}

.header {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 24px;
  margin: 10% 50% 0 50%;
}

.container {
  width: 400px;
  display: block;
  margin: 0 0 0 50%;
}

input[type=text] {
  border-bottom: 2px solid black;
}
